<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke suite" verbose="1" preserve-order="true" >

    <test name="Purchase the product from Amazon" >
        <classes>
            <class name="com.amazon.loginTest.LoginTest"/>
            <class name="com.amazon.purchaseItemTest.PurchaseItemTest"/>
        </classes>
    </test>

</suite>